
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
}

h4 {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

p {
    color: white;
}

.card p {
    padding-top: 35px;
    font-size: 16px;
}



.btn {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    align-items: center;
    width: 100px;
    border-radius: 30px;
    background-color: crimson;
    color: white;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btncc {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    top: 10px;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid crimson;
}

.card-img{
    max-width: 100%;
    height: 250px;
}



#resultado {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}


h4 {
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    list-style: none;
    color: #222;
    padding: 20px 5px;
    border: 1px solid white;
    background-color: black;
}

.card div, .card h4 , .card p {
    background-color: black;
}



.cabecalho {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(20, 20, 20);
}

.cabecalho a {
    background-color: rgb(20, 20, 20);
}

.logo {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: crimson;
}

main {
    border-top: 1px solid white;
}


.nav-barra {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.nav-barra a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    transition: .2s;
}

.nav-barra a:hover {
    color: crimson;
    transform: scale(1.1);
}

